{% extends "layout.html" %} {% block content %}
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <div class="centro border">
        {% if status_p==True %}
        <div>
            <h3>{{name[0]}}</h3>

            <a
                href="/StartTournament/{{id_t}}"
                class="start mt-3 btn btn-danger"
            >
                Start tournament
            </a>
            <br />
            <br />
        </div>
        {% endif %} {% if status_p==False %}
        <h1>{{name[0]}}</h1>
        {% endif %}
        <!--List of members-->
    </div>
    <div class="mt-3">
        <h3>Members</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Team</th>
                    {% if status_p==True %}
                    <th scope="col">Delete</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for x in members %}
                <tr>
                    <th>{{x[0]}}</th>
                    {% if status_p==True %}
                    <td>
                        <a
                            class="btn-delete"
                            href="/DeleteTeamTournament/{{id_t}}/{{x[1]}}"
                        >
                            <img
                                src="{{url_for('static',filename='img/delete2.png')}}"
                            />
                        </a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if status_p==False %}
        <h3 class="mt-5">Clash</h3>
        <form id="formclash">
            <input id='txt_id_tournament' value="{{id_t}}" type="hidden">
            <label>Team 1</label>
            <select id="txtteam1" class="form-select">
                {% for cl in clans %}
                <option value="{{cl[1]}}">{{cl[0]}}</option>
                {% endfor %}
            </select>
            <label>Score team 1</label>
            <input
                id="txtscore1"
                class="input"
                type="number"
                min="1"
                pattern="^[0-9]+"
                required
            />
            <label class="mt-4">Team 2</label>
            <select id="txtteam2" class="form-select">
                {% for cl in clans %}
                <option value="{{cl[1]}}">{{cl[0]}}</option>
                {% endfor %}
            </select>
            <label>Score team 2</label>
            <input
                id="txtscore2"
                class="input"
                type="number"
                min="1"
                pattern="^[0-9]+"
                required
            />
            <div class="centro">
                <button class="mt-5 boton btn btn-primary">Register</button>
            </div>
        </form>
        <div class="centro">
            <div id="errors"></div>
        </div>
    </div>
    <h3 class="mt-3">Score</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Team</th>
                {% for x in range(1,row+1) %}
                <th >{{x}}</th>
                {% endfor %}
                
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for x in scores %}
            <tr>
                <th scope="row">{{x[0]}}</th>
                {% for i in x[1] %}
                <td>{{i}}</td>
                {% endfor %}
                <td>{{x[2]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3 class="mt-5">History Clash</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Team 1</th>
                <th scope="col">score</th>
                <th scope="col">Team 2</th>
                <th scope="col">score</th>
                <th scope="col">Update</th>
            </tr>
        </thead>
        <tbody>
            {% for x in clashes %}
            <tr>
                <td>
                    {{x[0]}}
                </td>
                <td>{{x[1]}}</td>
                <td>{{x[2]}}</td>
                <td>{{x[3]}}</td>
                <td>
                    <!-- Button trigger modal -->
                    <button
                        type="button"
                        class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal"
                    >
                        Set
                    </button>

                    <!-- Modal -->
                    <div
                        class="modal fade"
                        id="exampleModal"
                        tabindex="-1"
                        aria-labelledby="exampleModalLabel"
                        aria-hidden="true"
                    >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5
                                        class="modal-title"
                                        id="exampleModalLabel"
                                    >
                                    {{x[0]}} vs {{x[2]}}
                                    </h5>
                                    <button
                                        type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"
                                    ></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <label>Score team 1</label>
                                        <input class="input" />
                                        <label>Score team 2</label>
                                        <input class="input" />
                                        <div class="centro">
                                            <button
                                                class="mt-5 boton btn btn-primary"
                                            >
                                                Update
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
<script src="{{url_for('static', filename='js/admint.js')}}"></script>
{% endblock%}
