{% extends "layout.html" %} {% block content %}
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <form id="formplayer">
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label class="col-form-label">User name</label>
            </div>

            <div class="col-auto">
                <input
                    type="text"
                    id="txtusername"
                    class="form-control"
                    required
                />
            </div>
            <div class="col-auto">
                <button class="btn btn-danger">Register</button>
            </div>

            <div class="error" id="errors"></div>
        </div>
    </form>

    <div class="mt-5">
        <form id="form-search">
            <div class="centro">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="inputPassword6" class="col-form-label"
                            >Search</label
                        >
                    </div>
                    <div class="col-auto">
                        <input
                            type="text"
                            id="textbuscar"
                            class="form-control"
                        />
                    </div>
                    <div class="mt-2 col-auto">
                        <button class="btn btn-primary">Search</button>
                    </div>
                </div>
            </div>
        </form>
        <table class="table mt- mt-5">
            <thead>
                <tr>
                    <th scope="col">Player</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Update</th>
                </tr>
            </thead>
            <tbody id="table-players">
                {% for player in players %}
                <tr>
                    <td>{{player[1]}}</td>
                    <td>
                        <a
                            href="/DeletePlayer/{{player[0]}}"
                            class="btn btn-delete"
                        >
                            <img src="static/img/delete2.png" />
                        </a>
                    </td>
                    <td>
                        <a href="/UpdatePlayer/{{player[0]}}">
                            <img src="static/img/updated.png" />
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script src="{{url_for('static', filename='js/user.js')}}"></script>
{% endblock%}
