{% extends "layout.html" %} {% block content %}
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <div class="centro">
        <h3>Create a tournament</h3>
    </div>

    <div class="centro">
        <form id="formulariotournament">
            <div class="mb-3">
                <label>Name of the tournament</label>
                <input class="mt-3 input" type="text" id="txtname" required />
            </div>
            <div class="mb-3">
                <label>Type of tournament</label>
                <select class="mt-3 form-select" id="txttype">
                    <option value="1">Teams</option>
                    <option value="2">Single</option>
                    <option value="3">Points series</option>
                </select>
            </div>

            <button class="mt-1 input btn btn-primary">Register</button>
        </form>
    </div>
    <div class="error" id="errors"></div>
    <div class="mt-3">
        <h3 class="mt-5">Admin Points series</h3>

        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Tournament</th>
                            <th scope="col">Delete</th>
                            <th scope="col">Admin</th>
                            <th scope="col">Members</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in point %}
                        <tr>
                            <td>
                                <label>{{s[1]}}</label>
                            </td>
                            <td>
                                <a href="/DeleteTournament/{{s[0]}}">
                                    <img src="static/img/delete2.png" />
                                </a>
                            </td>
                            <td>
                                <a href="/AdminTournament">
                                    <img src="static/img/administracion.png" />
                                </a>
                            </td>
                            <td>
                                <!-- Button trigger modal -->
                                <button
                                    type="button"
                                    class="btn btn-success"
                                    data-bs-toggle="modal"
                                    data-bs-target="#modal{{s[0]}}"
                                >
                                    See members
                                </button>

                                <!-- Modal -->
                                <div
                                    class="modal fade"
                                    id="modal{{s[0]}}"
                                    tabindex="-1"
                                    aria-labelledby="exampleModalLabel"
                                    aria-hidden="true"
                                >
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5
                                                    class="modal-title"
                                                    id="exampleModalLabel"
                                                >
                                                    {{s[1]}}
                                                </h5>
                                                <button
                                                    type="button"
                                                    class="btn-close"
                                                    data-bs-dismiss="modal"
                                                    aria-label="Close"
                                                ></button>
                                            </div>
                                            <div class="modal-body">
                                                {% if len_ps>0 %}
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">
                                                                Player
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for x in ps %}
                                                        <tr>
                                                            <td>
                                                                <label
                                                                    >{{x[0]}}</label
                                                                >
                                                            </td>
                                                        </tr>

                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        {% if len_single>0 %}
        <div class="col">
            <h3>Single tournament</h3>

            <form id="formsingler">
                <label>Tournament</label>
                <select id="id_tournament" class="form-select">
                    {% for s in single %}
                    <option value="{{s[0]}}">{{s[1]}}</option>
                    {% endfor %}
                </select>
                <label class="mt-4">Player</label>
                <select id="id_player" class="form-select">
                    {% for player in players %}
                    <option value="{{player[0]}}">{{player[1]}}</option>
                    {% endfor %}
                </select>
                <div class="centro">
                    <button class="mt-5 btn btn-danger boton">Add</button>
                </div>
            </form>
            <h3 class="mt-5">Admin Single</h3>

            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Tournament</th>
                                <th scope="col">Delete</th>
                                <th scope="col">Admin</th>
                                <th scope="col">Members</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for s in single %}
                            <tr>
                                <td>
                                    <label>{{s[1]}}</label>
                                </td>
                                <td>
                                    <a
                                        class="btn btn-delete"
                                        href="/DeleteTournamentPlayer/{{s[0]}}"
                                    >
                                        <img src="static/img/delete2.png" />
                                    </a>
                                </td>
                                <td>
                                    <a href="/AdminTournament">
                                        <img
                                            src="static/img/administracion.png"
                                        />
                                    </a>
                                </td>
                                <td>
                                    <!-- Button trigger modal -->
                                    <button
                                        type="button"
                                        class="btn btn-success"
                                        data-bs-toggle="modal"
                                        data-bs-target="#m{{s[0]}}"
                                    >
                                        See members
                                    </button>

                                    <!-- Modal -->
                                    <div
                                        class="modal fade"
                                        id="m{{s[0]}}"
                                        tabindex="-1"
                                        aria-labelledby="exampleModalLabel"
                                        aria-hidden="true"
                                    >
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5
                                                        class="modal-title"
                                                        id="exampleModalLabel"
                                                    >
                                                        {{s[1]}}
                                                    </h5>
                                                    <button
                                                        type="button"
                                                        class="btn-close"
                                                        data-bs-dismiss="modal"
                                                        aria-label="Close"
                                                    ></button>
                                                </div>
                                                <div class="modal-body">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">
                                                                    Player
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for x in s[3] %}

                                                            <tr>
                                                                <td>
                                                                    {{x}}
                                                                </td>
                                                            </tr>
                                                            {% endfor%}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif%} {%if len_c>0%}
        <div class="col">
            <h3>Teams tournament</h3>
            <form id="formclans">
                <label>Tournament</label>
                <select id="id_tournament_e" class="form-select">
                    {% for s in clans %}
                    <option value="{{s[0]}}">{{s[1]}}</option>
                    {% endfor %}
                </select>
                <label class="mt-4">Teams</label>
                <select id="id_team" class="form-select">
                    {% for team in teams %}
                    <option value="{{team[0]}}">{{team[1]}}</option>
                    {% endfor %}
                </select>
                <div class="centro">
                    <button class="mt-5 btn btn-danger boton">Add</button>
                </div>
            </form>
            <h3 class="mt-5">Admin Teams</h3>

            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Tournament</th>
                                <th scope="col">Delete</th>
                                <th scope="col">Admin</th>
                                <th scope="col">Members</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for s in clans %}
                            <tr>
                                <td>
                                    <label>{{s[1]}}</label>
                                </td>
                                <td>
                                    <a
                                        class="btn btn-delete"
                                        href="/DeleteTournamentTeam/{{s[0]}}"
                                    >
                                        <img src="static/img/delete2.png" />
                                    </a>
                                </td>
                                <td>
                                    <a href="/AdminTournament">
                                        <img
                                            src="static/img/administracion.png"
                                        />
                                    </a>
                                </td>
                                <td>
                                    <!-- Button trigger modal -->
                                    <button
                                        type="button"
                                        class="btn btn-success"
                                        data-bs-toggle="modal"
                                        data-bs-target="#team{{s[0]}}"
                                    >
                                        See members
                                    </button>

                                    <!-- Modal -->
                                    <div
                                        class="modal fade"
                                        id="team{{s[0]}}"
                                        tabindex="-1"
                                        aria-labelledby="exampleModalLabel"
                                        aria-hidden="true"
                                    >
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5
                                                        class="modal-title"
                                                        id="exampleModalLabel"
                                                    >
                                                        {{s[1]}}
                                                    </h5>
                                                    <button
                                                        type="button"
                                                        class="btn-close"
                                                        data-bs-dismiss="modal"
                                                        aria-label="Close"
                                                    ></button>
                                                </div>
                                                <div class="modal-body">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">
                                                                    Teams
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for x in s[3] %}

                                                            <tr>
                                                                <td>
                                                                    {{x}}
                                                                </td>
                                                            </tr>
                                                            {% endfor%}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<script src="{{url_for('static', filename='js/tournament.js')}}"></script>
{% endblock%}
